@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
}
body, html {
    height: 100vh;
}
html {
    font-size: 1rem;
}
body {
    background-color: rgb(12,12,12);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}
#countdown {
    text-align: center;
}
#time {
    display: flex;
    justify-content: space-around;
}
#time > div {
    margin: 0 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-variant: small-caps;
}
#time > div > span {
    font-size: 4.5rem;
    font-weight: 300;
    opacity: 0.9;
    margin-bottom: 10px;
}
